body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
}

h3 {
    align-items: center;
}

button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
}

#sesh {
    background-color: beige;
    margin: 10%;
    padding-top: 10px;
}

#sessions div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px brown;
}

ul {
    list-style: none;
}
